﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="glyphicon-home"><a href="/Home/Index"><i class="fa fa-link"></i> <span></span>Home</a></li>
    <li class="header">Proyectos</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/Lineas/Index"><i class="fa fa-link"></i> <span>Lineas de Producción</span></a></li>
</ul>

