﻿@model EscuelaNet.Presentacion.Clientes.Web.Models.NuevaUnidadModel

@{
    ViewBag.Title = "Borrar";
}


    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Borrar Unidad</h3>
                    <label class="text-danger">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdC)
                    @Html.HiddenFor(model => model.IdU)
                    <div class="box-body">
                        <p>
                            ¿Está seguro de borrar la Unidad "@Model.RazonSocial"?
                        </p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                        <a href="~/unidades/index/@Model.IdC" class="btn btn-primary">Cancelar</a>
                    </div>
                }

            </div>
            <!-- /.box -->
        </div>

    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
