﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.NuevoEquipoModel

@{
    ViewBag.Title = "Editar";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Equipo</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Equipos", null,
                       FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "FormEquipos" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el nombre del equipo.", data_minlength = "10" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Debe ingresar el pais.", data_minlength = "4" } })
                        @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "help-block with-errors" })
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.HusoHorario, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.HusoHorario, new { htmlAttributes = new { @class = "form-control", type = "number", min = "-12", max = "14", required = "required", data_error = "Debe ingresar un huso horario entre el rango de -12 hasta 14." } })
                        @Html.ValidationMessageFor(model => model.HusoHorario, "", new { @class = "help-block with-errors" })
                    </div>
                </div>
                <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Modificar</button>
            <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("Index")'">Cancelar</button>
        </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
        $(document).ready(function () {
            $('#FormEquipos').validator()
        });
    </script>
}
