﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Equipos</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="/Equipos/Index"><i class="fa fa-link"></i> <span>Equipos</span></a></li>
</ul>
