﻿@model EscuelaNet.Presentacion.Capacitacion.Web.Models.NuevoLugarModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Editar Lugar</h3>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("New", "Lugares", new { }, FormMethod.Post, new { role = "form", data_toggle = "validator", @id = "myform" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Capacidad, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Capacidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Capacidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Calle, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Depto, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Depto, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Depto, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Piso, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Piso, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Piso, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control", required = "required", data_error = "Complete el Campo" } })
                        @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                        <div class="help-block with-errors"></div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="~/lugares/" class="btn btn-primary">Cancelar</a>
                </div>
            }

        </div>
        <!-- /.box -->
    </div>

</div>

@section Scripts {
    <script src="~/lib/1000hz-bootstrap-validator/validator.js"></script>
    <script>
      $(document).ready(function () {
          $('#myForm').validator()
      });

    </script>

}


